n8n-keep-alive-webhook.json
{
  "name": "LinkedIn Prospector API Keep-Alive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "f1d2e3c4-b5a6-7890-1234-567890abcdef",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://setterai-729q.onrender.com/health",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Ping Health Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7890-1234-567890abcdef",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1c2d3e4-f5g6-7890-1234-567890abcdef",
      "name": "Check API Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://setterai-729q.onrender.com/test",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c1d2e3f4-g5h6-7890-1234-567890abcdef",
      "name": "Ping Test Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 LinkedIn Prospector API is DOWN!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*LinkedIn Prospector API Health Check Failed*\\n\\n• Time: {{ $now.toISO() }}\\n• URL: https://setterai-729q.onrender.com/health\\n• Status: API not responding\\n\\n⚠️ Please check the service immediately!\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d1e2f3g4-h5i6-7890-1234-567890abcdef",
      "name": "Alert if API Down",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "content": "=✅ LinkedIn Prospector API Keep-Alive Success!\n\n🕐 Time: {{ $now.toISO() }}\n🌐 Health Check: {{ $('Ping Health Endpoint').item.json.status }}\n🧪 Test Endpoint: {{ $('Ping Test Endpoint').item.json.message }}\n🚀 Service: {{ $('Ping Health Endpoint').item.json.service }}\n📊 Version: {{ $('Ping Health Endpoint').item.json.version }}\n\n💡 API is active and responding normally.",
        "options": {}
      },
      "id": "e1f2g3h4-i5j6-7890-1234-567890abcdef",
      "name": "Log Success",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ping Health Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Health Endpoint": {
      "main": [
        [
          {
            "node": "Check API Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Status": {
      "main": [
        [
          {
            "node": "Ping Test Endpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert if API Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Test Endpoint": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T10:00:00.000Z",
  "updatedAt": "2025-07-22T10:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-22T10:00:00.000Z",
      "updatedAt": "2025-07-22T10:00:00.000Z",
      "id": "keep-alive",
      "name": "Keep-Alive"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
} 